<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/index.css" rel="stylesheet">
    <link href="/static/intlTelInput.min.css" rel="stylesheet">
    <title>SMS BOMBER by Marat / Сервисы</title>
</head>
<body>
<div id="block-ui">
    <div id="loader"></div>
</div>

<main>
    <p class="lead" id="sms">Доступных сервисов: <span class="badge badge-pill badge-danger no-select">{{ services_count }}</span></p>
    <h3 class="no-select">1) AlPari</h3>
    <h3 class="no-select">1) AtPrime </h3>
	<h3 class="no-select">1) BelkaCar</h3>
	<h3 class="no-select">1) CarSmile</h3>
	<h3 class="no-select">1) Citilink</h3>
	<h3 class="no-select">1) DeliMobil</h3>
	<h3 class="no-select">1) DeliveyClub</h3>
	<h3 class="no-select">1) FindClone</h3>
	<h3 class="no-select">1) GuruTaxi</h3>
	<h3 class="no-select">1) ICQ</h3>
	<h3 class="no-select">1) InDriver</h3>
	<h3 class="no-select">1) InVitro</h3>
	<h3 class="no-select">1) iQos</h3>
	<h3 class="no-select">1) ivi</h3>
	<h3 class="no-select">1)</h3>
	<h3 class="no-select">1)</h3>
	<h3 class="no-select">1)</h3>
	<h3 class="no-select">1)</h3>
	<h3 class="no-select">1)</h3>
	

</main>

<footer class="mt-auto py-3 footer">
    <span class="text-muted">Made by MARAT with</span> <span class="heart">GlobalCompany</span>
</footer>

<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/intlTelInput.min.js"></script>

<script type="text/javascript">
    let input = document.querySelector('#phone');
    let intltelinput = undefined;

    $(document).ready(function () {
        intltelinput = intlTelInput(input, {
            onlyCountries: ['ru', 'ua', 'kz', 'by'],
            initialCountry: 'ru',
            separateDialCode: true,
            utilsScript: '/static/utils.js',
            autoPlaceholder: 'aggressive'
        });
    });
    $('#phone-form').submit(function (e) {
        e.preventDefault();
        $('main').css({'animation': 'blur', 'animation-duration': '0.6s', 'animation-fill-mode': 'both'});
        $('footer').css({'animation': 'blur', 'animation-duration': '0.6s', 'animation-fill-mode': 'both'});
        setTimeout(function () {
            $('#block-ui').css('display', 'block');
        }, 600);

        let data = $('#phone-form').serializeArray();
        data.push({name: "phone_code", value: intltelinput.getSelectedCountryData().dialCode});
        $.ajax({
            url: '/attack/start',
            type: 'post',
            data: data,
            success: function () {
                setTimeout(function () {
                    $('#block-ui').css('display', 'none');
                }, 600);

                $('main').css({
                    'animation': 'blur',
                    'animation-duration': '0.6s',
                    'animation-fill-mode': 'both',
                    'animation-direction': 'reverse'
                });
                $('footer').css({
                    'animation': 'blur',
                    'animation-duration': '0.6s',
                    'animation-fill-mode': 'both',
                    'animation-direction': 'reverse'
                });
            },
            error: function (data) {
                setTimeout(function () {
                    $('#block-ui').css('display', 'none');
                }, 600);

                $('main').css({
                    'animation': 'blur',
                    'animation-duration': '0.6s',
                    'animation-fill-mode': 'both',
                    'animation-direction': 'reverse'
                });
                $('footer').css({
                    'animation': 'blur',
                    'animation-duration': '0.6s',
                    'animation-fill-mode': 'both',
                    'animation-direction': 'reverse'
                });
                alert(data.responseText);
            }
        });
    });
</script>
</body>
</html>
